#price service
PRICE_SERVICE_URL=https://rubot.info/api/spa/symbols

#strategy
MINIMUM_DIFFERENCE_AS_PROFIT_PERCENT=25
CHECK_MARKET_INTERVAL=900

#telegram
TELEGRAM_TOKEN=5515450654:AAGSmsi_iMffuV3ZAj4sycNzkb51pEdoYLc
TELEGRAM_CHANNEL=dexnotify
SEND_TELEGRAM_MESSAGE_DELAY_SEC=3
SEND_TELEGRAM_MESSAGE_BATCH_SIZE=20

#app
LOG_SILENT=false
NODE_ENV=